server:
  port: 80

spring:
  application:
#   这个名字很重要，是注册到注册中心必须用到的，也是服务发现时用到的名字
    name: microservice-consumer-dept-feign

eureka:
  # 客户端注册进 eureka 服务列表内
  client:
    service-url:
#    单机版，只有一个注册中心时
#      defaultZone: http://localhost:7001/eureka
#     集群版，同时有多个注册中心时
      defaultZone: http://eureka7001:7001/eureka/,http://eureka7002:7002/eureka/,http://eureka7003:7003/eureka/
  instance:
    # 自定义在注册中心页面显示的微服务的名称
    instance-id: consumer-dept-80-feign
    # 设置显示微服务名称链接的访问路径 IP 地址
    prefer-ip-address: true

# 启用熔断机制，并自动调用 api 中的 fallback 进行信息返回
feign:
  hystrix:
    enabled: true