server:
  port: 8001
  
mybatis:
  config-location: classpath:mybatis-config.xml             # mybatis配置文件所在路径
  mapper-locations: classpath:mapper/*.xml                  # mapper映射文件


spring:
  application:
#   这个名字很重要，是注册到注册中心必须用到的，也是服务发现时用到的名字
    name: microservice-provider-dept
  datasource:
#   数据源基本配置
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8&autoReconnect=true&rewriteBatchedStatements=true&allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=utf8&characterSetResults=utf-8
    type: com.alibaba.druid.pool.DruidDataSource
#   数据源其他配置
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
#   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
#   filters: stat,wall,log4j
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
      
eureka:
  # 客户端注册进 eureka 服务列表内
  client:
    service-url:
#    单机版，只有一个注册中心时
#      defaultZone: http://localhost:7001/eureka
#     集群版，同时有多个注册中心时（其中 eureka7001 设置了登录验证）
      defaultZone: http://admin:admin@eureka7001:7001/eureka/,http://eureka7002:7002/eureka/,http://eureka7003:7003/eureka/
#   使用 eureka 检查功能（需要有 actuator 依赖），注意一定要配置在 application.xml 中，不能在 bootstrap，否则会有未知的错误
    healthcheck:
      enabled: true

  instance:
    # 自定义在注册中心页面显示的微服务的名称
    instance-id: provider-dept-8001
    # 设置显示微服务名称链接的访问路径 IP 地址
    prefer-ip-address: true
    # eureka 心跳失败时间，超时则在注册中心显示本服务不可用，断开。不要用在生产环境
    lease-expiration-duration-in-seconds: 90
    # eureka 检测心跳的时间，建议使用默认值 30 秒不要更改，因为会影响性能。不要用在生产环境
    # 值越小则将加快客户端连接到其他服务的过程。在生产中最好坚持使用默认值，因为服务器中的内部计算会对租约续订期进行假设。
    lease-renewal-interval-in-seconds: 30
    # Eureka 实例自身的状态页和健康指示器分别默认为 /info 和 /health，这是Spring Boot执行器应用程序中有用端点的默认位置
    statusPageUrlPath: ${server.servletPath}/info
    healthCheckUrlPath: ${server.servletPath}/health

# 使用 actuator 功能自定义显示项目的描述信息，需要注意，要在父工程中进行资源访问的配置（resources 标签加 maven-resources-plugin 插件）
info:
  service:
    name: hyman-microservicecloud
    ipname: www.hyman.com
  build:
    artifactId: @project.artifactId@
    version: @project.version@
    description: @project.description@

