server:
  port: 8001
  
mybatis:
  config-location: classpath:mybatis-config.xml             # mybatis配置文件所在路径
  mapper-locations: classpath:mapper/*.xml                  # mapper映射文件


spring:
  application:
#   这个名字很重要，是注册到注册中心必须用到的，也是服务发现时用到的名字
    name: microservice-provider-dept
  datasource:
#   数据源基本配置
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8&autoReconnect=true&rewriteBatchedStatements=true&allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=utf8&characterSetResults=utf-8
    type: com.alibaba.druid.pool.DruidDataSource
#   数据源其他配置
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
#   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
#   filters: stat,wall,log4j
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
      
eureka:
  # 客户端注册进 eureka 服务列表内
  client:
    service-url:
#    单机版，只有一个注册中心时
#      defaultZone: http://localhost:7001/eureka
#     集群版，同时有多个注册中心时
      defaultZone: http://eureka7001:7001/eureka/,http://eureka7002:7002/eureka/,http://eureka7003:7003/eureka/
  instance:
    # 自定义在注册中心页面显示的微服务的名称
    instance-id: provider-dept-8001
    # 设置显示微服务名称链接的访问路径 IP 地址
    prefer-ip-address: true


# 自定义显示项目的描述信息，需要注意，要在父工程中进行资源访问的配置（resources 标签加 maven-resources-plugin 插件）
info:
  service:
    name: hyman-microservicecloud
    ipname: www.hyman.com
  build:
    artifactId: @project.artifactId@
    version: @project.version@
    description: @project.description@

